services:
  napcat:
    image: mlikiowa/napcat-docker:latest
    container_name: napcat
    restart: always
    ports:
      - "3000:3000"
      - "3001:3001"
      - "6099:6099"
    environment:
      - NAPCAT_UID=${NAPCAT_UID}
      - NAPCAT_GID=${NAPCAT_GID}
    volumes:
      - ./napcat-config:/app/napcat/config
  erii:
    build:
      context: .
      dockerfile: Dockerfile
    image: erii-image
    container_name: erii
    restart: always
    environment:
      - JAVA_OPTS=-XX:+UseZGC -Xms512m -Xmx512m -XX:MaxGCPauseMillis=200 -XX:+ExitOnOutOfMemoryError -Dfile.encoding=UTF-8 -Duser.timezone=Asia/Shanghai
    env_file:
      - .env.local
    volumes:
      - ./store:/erii/store
    ports:
      - "8080:8080"
      - "8082:8082"
      - "8000:8000"

